/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**/
.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/*First Container*/
.container-first {
  background-color: #1c1e53;
}

.container-first header {
  display: grid;
  grid-template-columns: 1fr 706px;
  grid-template-rows: 92px;
  align-items: center;
}

.container-first header .menu ul li a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #bbbbcb;
  text-decoration: none;
}

.container-first header .menu ul li.first-link a {
  color: #fff;
}

.container-first header .menu ul li.contact-btn a {
  color: #fff;
  display: inline-block;
  border: 2px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  border-radius: 41px;
  transition: 0.8s;
}

.container-first header .menu ul li.contact-btn a:hover {
  background-color: #fff;
  color: #1c1e53;
}

.container-first header .menu ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.container-first header .menu ul li.contact-btn {
  justify-self: end;
}

.container-first .head-content {
  padding-top: 126px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: 582px 638px;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.container-first .head-content .left-content {
  font-family: "Poppins";
}

.container-first .head-content .left-content h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 137%;
  color: #fff;
}

.container-first .head-content .left-content p {
  margin-top: 24px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: rgba(255, 255, 255, 0.7);
  padding-right: 20px;
}

.container-first .head-content .left-content .btn-wrap .btn-work {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  color: #1b1c2b;
  display: inline-block;
  padding: 16px 56px;
  border-radius: 41px;
  background-color: #fcd980;
  text-decoration: none;
  transition: 0.8s;
  margin-right: 40px;
}

.container-first .head-content .left-content .btn-wrap .btn-work:hover {
  color: #1b1c2b;
  background-color: #fff;
}

.container-first .head-content .left-content .btn-wrap .btn-price {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
}

.container-first .head-content .left-content .btn-wrap .btn-price span {
  margin-left: 16px;
  font-size: 24px;
  vertical-align: -1px;
  display: inline-block;
}

.container-first .head-content .right-content img {
  margin-top: 23px;
  width: 100%;
  max-width: 100%;
}

.container-second {
  background-color: #f4f6fc;
}

.container-second .center {
  padding-top: 128px;
  padding-bottom: 128px;
  display: grid;
  grid-template-columns: 323px 656px;
  -moz-column-gap: 224px;
       column-gap: 224px;
}

.container-second .second-left h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  color: #282938;
  margin-bottom: 31px;
}

.container-second .second-left p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 24px;
}

.container-second .second-left a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: #2405f2;
  text-decoration: none;
}

.container-second .second-left a span {
  margin-left: 16px;
  font-size: 24px;
  vertical-align: -1px;
  display: inline-block;
}

.container-second .second-right {
  display: grid;
  grid-template-columns: repeat(2, 283px);
  grid-template-rows: repeat(2, 178px);
  -moz-column-gap: 45px;
       column-gap: 45px;
  row-gap: 48px;
}

.container-second .second-right .right-item h3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #282938;
  padding-top: 16px;
  padding-bottom: 12px;
}

.container-second .second-right .right-item p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #282938;
  opacity: 0.7;
}

/*Container projects*/
.container-projects {
  margin-top: 128px;
  margin-bottom: 128px;
}

.container-projects .head-info h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  color: #282938;
}

.container-projects .head-info a {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #282938;
  justify-self: end;
  align-self: center;
}

.container-projects .head-info a span {
  margin-left: 16px;
  font-size: 24px;
  vertical-align: -1px;
  display: inline-block;
}

.container-projects .head-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 64px;
}

.container-projects .projects {
  display: grid;
  grid-template-columns: 843px 405px;
  grid-template-rows: 284px 284px;
  gap: 32px;
  font-family: "Poppins";
}

.container-projects .projects .first-item {
  grid-row: 1/3;
  position: relative;
}

.container-projects .projects .first-item .project-info {
  width: 396px;
  /* height: 600px; */
  height: 100%;
  background: linear-gradient(306deg, #1c1e53 0%, rgba(28, 30, 83, 0.42) 100%);
  position: absolute;
  left: 0;
  top: 0;
}

.container-projects .projects .first-item .project-info h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
  padding-top: 312px;
  padding-left: 48px;
  padding-right: 35px;
  padding-bottom: 16px;
}

.container-projects .projects .first-item .project-info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 48px;
  padding-right: 55px;
  padding-bottom: 40px;
}

.container-projects .projects .first-item .project-info a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #fcd980;
  margin-left: 48px;
}

.container-projects .projects .first-item .project-info a span {
  margin-left: 16px;
  font-size: 24px;
  vertical-align: -1px;
  display: inline-block;
}

.container-projects .projects .first-item > img,
.container-projects .projects .second-item > img,
.container-projects .projects .third-item > img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-projects .projects .second-item .project-info,
.container-projects .projects .third-item .project-info {
  background: linear-gradient(306deg, #1c1e53 0%, rgba(28, 30, 83, 0.42) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s;
  opacity: 0;
}

.container-projects .projects .second-item:hover .project-info,
.container-projects .projects .third-item:hover .project-info {
  opacity: 1;
}

.container-projects .projects .second-item,
.container-projects .projects .third-item {
  position: relative;
}

.container-projects .projects .second-item h4,
.container-projects .projects .third-item h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
  padding-top: 129px;
  padding-left: 56px;
  padding-right: 60px;
  padding-bottom: 10px;
}

.container-projects .projects .second-item a,
.container-projects .projects .third-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #fcd980;
  margin-left: 56px;
}

.container-projects .projects .second-item a span,
.container-projects .projects .third-item a span {
  margin-left: 16px;
  font-size: 24px;
  vertical-align: -1px;
  display: inline-block;
}

/* Container Features */
.container-features {
  background-color: #f4f6fc;
  padding-top: 128px;
  padding-bottom: 128px;
  font-family: "Poppins";
}

.container-features .features-head p {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #282938;
  margin-bottom: 12px;
}

.container-features .features-head h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  text-align: center;
  color: #282938;
  width: 630px;
  margin: auto;
  margin-bottom: 47px;
}

.container-features .features-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
}

.container-features .features-items .item {
  background-color: #fff;
  padding: 58px 33px 48px 48px;
}

.container-features .features-items .item img {
  margin-bottom: 25px;
  max-width: 100%;
}

.container-features .features-items .item h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #282938;
  margin-bottom: 12px;
}

.container-features .features-items .item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: rgba(40, 41, 56, 0.7);
}

/* Container Blog */
.container-blog {
  margin-top: 128px;
  margin-bottom: 128px;
  font-family: "Poppins";
}

.container-blog .head {
  font-weight: 600;
  font-size: 48px;
  line-height: 133%;
  color: #282938;
  margin-bottom: 64px;
}

.container-blog .blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.container-blog .blog-cards .card img {
  margin-bottom: 40px;
  max-width: 100%;
}

.container-blog .blog-cards .card .card-info .date {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: rgba(40, 41, 56, 0.7);
  margin-bottom: 16px;
}

.container-blog .blog-cards .card .card-info h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #282938;
  margin-bottom: 16px;
}

.container-blog .blog-cards .card .card-info .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: rgba(40, 41, 56, 0.7);
  margin-bottom: 32px;
}

.container-blog .blog-cards .card .card-info a {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #282938;
  text-decoration: none;
}

.container-blog .blog-cards .card .card-info a span {
  margin-left: 12px;
  font-size: 24px;
  vertical-align: -1px;
  display: inline-block;
}

/*Container Comments*/
.container-comments {
  background-color: rgba(244, 246, 252, 0.5);
  font-family: "Poppins";
}

.container-comments .box-comments {
  display: grid;
  grid-template-columns: 327px 843px;
  -moz-column-gap: 110px;
       column-gap: 110px;
  padding: 128px 0;
}
@media only screen and (max-width: 1300px) {
  .container-comments .box-comments {
    grid-template-columns: 30% 65%;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}
@media only screen and (max-width: 1024px) {
  .container-comments .box-comments {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 768px) {
  .container-comments .box-comments {
    grid-template-columns: 1fr;
  }
}

.container-comments .box-comments .about-comments h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 147%;
  color: #282938;
  margin-bottom: 16px;
}
@media only screen and (max-width: 1024px) {
  .container-comments .box-comments .about-comments h3 {
    font-size: 28px;
  }
}

.container-comments .box-comments .about-comments p {
  font-size: 16px;
  line-height: 175%;
  color: rgba(40, 41, 56, 0.7);
}

.container-comments .box-comments .slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .container-comments .box-comments .slider {
    padding-top: 30px;
  }
}

.container-comments .box-comments .slider .descr {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #282938;
  grid-column: 1/3;
  margin-bottom: 48px;
}
@media only screen and (max-width: 1024px) {
  .container-comments .box-comments .slider .descr {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .container-comments .box-comments .slider .descr {
    margin-bottom: 15px;
  }
}

.container-comments .box-comments .slider .author {
  display: grid;
  grid-template-columns: 52px 183px;
  grid-template-rows: 56px;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
@media only screen and (max-width: 425px) {
  .container-comments .box-comments .slider .author {
    grid-template-columns: 52px 126px;
  }
}

.container-comments .box-comments .slider .author img {
  max-width: 100%;
  width: 100%;
  height: 52px;
  border-radius: 50%;
  align-self: end;
}

.container-comments .box-comments .slider .author .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: #282938;
}

.container-comments .box-comments .slider .author .more-info {
  font-weight: 500;
  font-size: 12px;
  line-height: 233%;
  color: #282938;
}

.container-comments .box-comments .slider .buttons .left-btn,
.container-comments .box-comments .slider .buttons .right-btn {
  width: 48px;
  height: 48px;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.container-comments .box-comments .slider .buttons .right-btn {
  background-color: #5239fa;
  margin-left: 11px;
}

.container-comments .box-comments .slider .buttons {
  align-self: end;
  justify-self: end;
}

/*Container questions*/
.container-questions {
  padding: 128px 0;
  font-family: "Poppins";
  display: grid;
  grid-template-columns: 328px 846px;
  -moz-column-gap: 109px;
       column-gap: 109px;
}
.container-questions .left-side h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 147%;
  color: #282938;
  margin-bottom: 16px;
}
.container-questions .left-side p {
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: rgba(36, 5, 242, 0.87);
}
.container-questions .right-side .questions-item {
  display: grid;
  grid-template-columns: 110px 624px 1fr;
  border-bottom: 2px solid #ececf1;
  margin-bottom: 32px;
  padding-bottom: 16px;
}
.container-questions .right-side .questions-item:last-child {
  border-bottom: none;
}
.container-questions .right-side .questions-item .close,
.container-questions .right-side .questions-item .plus {
  justify-self: end;
}
.container-questions .right-side .questions-item .close img,
.container-questions .right-side .questions-item .plus img {
  padding-top: 7px;
}
.container-questions .right-side .questions-item .counter {
  margin-left: 27px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #2405f2;
}
.container-questions .right-side .questions-item .question-info h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #282938;
  margin-bottom: 16px;
}
.container-questions .right-side .questions-item .question-info p {
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  color: rgba(40, 41, 56, 0.87);
  margin-bottom: 32px;
}
.container-questions .right-side .questions-item .question-info p.answer-hide {
  display: none;
}

@media screen and (max-width: 1300px) {
  .center {
    width: 95%;
  }
  .container-first .head-content {
    grid-template-columns: 45% 50%;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
  .container-projects .projects {
    grid-template-columns: 2fr 1fr;
    gap: 16px;
  }
  .container-second .center {
    grid-template-columns: 323px 1fr;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}
@media screen and (max-width: 1024px) {
  .container-first .head-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container-first .head-content .left-content h1 {
    font-size: 40px;
  }
  .container-first .head-content .left-content .btn-wrap .btn-price {
    display: inline-block;
    padding-left: 56px;
    padding-top: 16px;
  }
  .container-first header .menu {
    display: none;
  }
  .container-projects .projects {
    grid-template-columns: 1fr 1fr;
  }
  .container-projects .projects .first-item {
    grid-column: 1/3;
  }
  .container-projects {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container-projects .head-info {
    margin-bottom: 30px;
  }
  .container-projects .head-info h3 {
    font-size: 36px;
  }
  .container-second .center {
    grid-template-columns: 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .container-second .second-right {
    padding-top: 40px;
    grid-template-columns: 1fr 1fr;
  }
  .container-features .features-items {
    grid-template-columns: 1fr 1fr;
  }
  .container-blog .blog-cards .card h3 {
    font-size: 20px;
  }
  .container-blog .blog-cards {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .container-blog .blog-cards .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .container-blog .blog-cards .card .card-info h3 {
    font-size: 20px;
  }
  .container-blog .blog-cards .card img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  .container-first .head-content {
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding-top: 30px;
  }
  .container-first .head-content .right-content {
    grid-row: 1;
  }
  .container-first .head-content .right-content img {
    margin-top: 0;
  }
  .container-projects .projects .second-item h4,
  .container-projects .projects .third-item h4 {
    padding-top: 50px;
  }
  .container-features .features-items {
    grid-template-columns: 1fr;
  }
  .container-features .features-items .item {
    padding: 29px 17px 24px 24px;
  }
  .container-features .features-head h3 {
    width: 90%;
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .container-first header {
    grid-template-rows: 60px;
  }
  .container-first .head-content .left-content h1 {
    font-size: 24px;
  }
  .container-first .head-content .left-content p {
    padding-right: 0;
  }
  .container-first .head-content .left-content .btn-wrap .btn-work {
    margin-right: 0;
    width: 100%;
    padding: 16px 0;
    text-align: center;
  }
  .container-first .head-content .left-content .btn-wrap .btn-price {
    width: 100%;
    padding: 16px 0;
    text-align: center;
  }
  .container-projects .projects {
    grid-template-columns: 1fr;
  }
  .container-projects .projects .first-item {
    grid-column: 1;
  }
  .container-projects .projects .first-item .project-info {
    width: 100%;
  }
  .container-projects .projects .second-item .project-info,
  .container-projects .projects .third-item .project-info {
    opacity: 1;
  }
  .container-projects .head-info h3 {
    font-size: 24px;
    align-self: center;
  }
  .container-second .second-right {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 30px;
  }
  .container-second .second-right .right-item h3 {
    padding-top: 8px;
    padding-bottom: 5px;
  }
  .container-blog .blog-cards .card {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .container-blog .blog-cards .card img {
    width: 100%;
  }
  .container-blog .blog-cards .card .card-info a {
    font-size: 24px;
  }
  .container-blog .blog-cards .card .card-info a span {
    font-size: 36px;
  }
}
@media screen and (max-width: 425px) {
  .container-projects .projects .first-item .project-info h4 {
    padding-top: 50px;
  }
  .container-projects .head-info h3 {
    font-size: 17px;
  }
}/*# sourceMappingURL=main.css.map */